	/* Coded with love by Mutiullah Samim */

		body,

		html {

			margin: 0;

			padding: 0;

			height: 100%;

			background: #60a3bc !important;

		}

		.user_card {

			height: 400px;

			width: 350px;

			margin-top: auto;

			margin-bottom: auto;

			background: #f39c12;

			position: relative;

			display: flex;

			justify-content: center;

			flex-direction: column;

			padding: 10px;

			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			border-radius: 5px;



		}

		.brand_logo_container {

			position: absolute;

			height: 170px;

			width: 170px;

			top: -75px;

			border-radius: 50%;

			background: #D9F70E;

			padding: 10px;

			text-align: center;

		}

		.brand_logo {

			height: 150px;

			width: 150px;

			border-radius: 50%;

			border: 2px solid white;

		}

		.form_container {

			margin-top: 100px;

		}

		.login_btn {

			width: 100%;

			background: #c0392b !important;

			color: white !important;

		}

		.login_btn:focus {

			box-shadow: none !important;

			outline: 0px !important;

		}

		.login_container {

			padding: 0 2rem;

		}

		.input-group-text {

			background: #c0392b !important;

			color: white !important;

			border: 0 !important;

			border-radius: 0.25rem 0 0 0.25rem !important;

		}

		.input_user,

		.input_pass:focus {

			box-shadow: none !important;

			outline: 0px !important;

		}

		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {

			background-color: #c0392b !important;

		}

.content-wrapper{
    background-image: url("gluck-wallpaper.jpg") !important;
}
.backgroundfilter{
    background-image: url("gluck-wallpaper.jpg") !important;
}
.botonsitoregistro{
	    display: inline-block;
    padding: 10px 80px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.content-header {
    color: #ffff !important;
}

.content-header>.breadcrumb>li>a {
    color: #fff !important;
}


.content-header>.breadcrumb>.active {
    color: #fff !important;
}
.content-header>h1>small {
color: #fff !important;
}

.skin-blue-light .wrapper, .skin-blue-light .main-sidebar, .skin-blue-light .left-side {
    background-color: #9e9e9e9e !important;
    color: #000 !important;
}
.skin-blue-light .sidebar-menu>li:hover>a, .skin-blue-light .sidebar-menu>li.active>a {
    color: #000;
    background: #ffff09 !important;
}

.skin-blue-light .sidebar a {
    color: #000 !important;
}

.skin-blue-light .sidebar-menu>li.header {
    color: #000;
    background: #ffff09 !important;
}

.skin-blue-light .main-header .navbar {
    background: #9e9e9e9e !important;
    color: #000 !important;
}

.skin-blue-light .main-header li.user-header {
    background-color: #9e9e9e9e !important;
}

.skin-blue-light .main-header .logo {
    color: #000;
    background: #000 !important;
    border-bottom: 0 solid transparent;
}

@font-coolvetica {
  font-family: colvetica;
  src: url(coolvetica-condensed-rg.ttf);
}

h1 {
	font-family: coolvetica !important;
}

li.treeview {
	font-family: coolvetica !important;
	letter-spacing: 2px !important;
}

select {
	font-family: coolvetica !important;
}

ul.todo-list > li{
	font-family: coolvetica !important;

	letter-spacing: 1px !important;
}

div.small-box{
	font-family: coolvetica !important;

	letter-spacing: 1px !important;
}

div.box-body{
	font-family: coolvetica !important;
	font-weight: 1 !important;
}

tfoot{
	letter-spacing: 1px !important;
}

tr{
	letter-spacing: 1px !important;
}

.login {
    margin-top: 20%;
}


@media (max-width: 400px) {
.paddinsito{
	padding-top: 15%;
}
}

@media (min-width: 400px) {
.paddinsito{
	padding-top: 10%;
}
}

@media (min-width: 800px) {
.paddinsito{
	padding-top: 5%;
}
}

.bg-amarillo{
	background-color: #e6fe08;
}

.bg-gris{
	background-color: #9e9e9e;
}

.bg-amarilloos{
	background-color: #d9f70e;
}

.bg-grisos{
	background-color: #383b3c;
	color: #fff !important;
}

.blanco{
	color: #fff;
}

.box.box-primary {
	border-radius: 15px;
}